@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	background-color: #f8f9fa;
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
header{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
	opacity: 1;
	background-color: #f8f9fa;
}

.navbar-logo{
	padding: 15px;
	color: #ff55bb;
	font-size: 30px;
}
.icon-img {
    width: 50px; /* İstediğiniz genişlik */
    height: 50px; /* İstediğiniz yükseklik */
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }

.bi-database-fill-down{
	color: #ff55bb;
	font-size: 35px;
}  

.navbar-mainbg{
	background-color: #f8f9fa;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: #ff55bb;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #ff55bb;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #31e1f7;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #31e1f7;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f9fa;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}

@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

/* --------------------------bootstrap-main-css----------------------------- */
main{
	margin-top: 100px;
}

.pages{
	display: none;
}

@media (max-width: 576px){
	
	#c1{
		padding: 0px 0px;
	}
	
	#p1{
		font-family: 'Courier New', Courier, monospace;
		font-size: 50px;
		word-spacing: -0.3em;
		letter-spacing: -7px;
	}
	#p2{
		font-family:'Courier New', Courier, monospace;
		font-size: 50px;
		letter-spacing: -2px;
	}
	#p3{
		font-family:'Times New Roman', Times, serif;
		font-size: 15px;
		opacity: 0.75;
	}
	
	canvas{
		border-radius: 100%;
		box-shadow: 0px 0px 100px 15px #31e1f7;
	}
	
}
@media (min-width: 577px){
	
	#c1{
		padding: 40px 0px;
	}
	
	#p1{
		font-family: 'Courier New', Courier, monospace;
		font-size: 70px;
		word-spacing: -0.3em;
		letter-spacing: -7px;
	}
	#p2{
		font-family:'Courier New', Courier, monospace;
		font-size: 70px;
		letter-spacing: -3px;
	}
	#p3{
		font-family:'Times New Roman', Times, serif;
		font-size: 20px;
		opacity: 0.75;
	}
	
	canvas{
		border-radius: 100%;
		box-shadow: 0px 0px 100px 15px #31e1f7;
		
	}
	
}



#c2{
	background-color: #ff55bb;
	border-radius: 20px;
	color: #f8f9fa;
}

.social-media{
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pink-box-h{
	font-family:'Courier New', Courier, monospace;
	letter-spacing: -2px;
	word-spacing: -14px;
}
.pink-box-p{
	font-family: 'Times New Roman', Times, serif;
	font-size: larger;
}

#QR{
	height: 75%;
	border-radius: 10%;
}

.download-link{
	text-decoration: none;
	display: block;
	border-radius: 10px;
	background-color: #f8f9fa;
	color: #ff55bb;
	width: 75%;
	margin: auto;	
}

.download-link:hover, .download-link:focus{
	background-color: #31e1f7;
	color:#fff;
	text-decoration: none;
}

.number{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background-color: #31e1f7;
}



/* -------------------------------------------------------------------------------- */
.slider{
	height: 100vh;
	display: flex;
	align-items: start;
	justify-content: center;
}

.container-slider a{

    text-decoration: none;
}

.container-slider input {

    display: none;
}

.container-slider {

    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards {

    position: relative;
    height: 500px;
    width: 400px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards label {

    position: absolute;
    width: 400px;
	height: 600px;
	border-radius: 10px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.cards .card{

    position: relative;
    height: 100%;
    background-color: #f8f9fa;
	border: 3px solid #ff55bb;
	border-radius: 10px;
    padding: 30px 35px;
}
.cards .card .brand{
    height: 40%;
}
.cards .card .head{
    height: 15%;
}
.cards .card .brand{
    height: 30%;
}
.cards .card .brand{
    height: 15%;
}


#s1:checked~.cards #slide5,
#s2:checked~.cards #slide6,
#s3:checked~.cards #slide7,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2,
#s6:checked~.cards #slide3,
#s7:checked~.cards #slide4 {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 35%);
    transform: translate3d(-105%, 0, -300px);
}
#s1:checked~.cards #slide6,
#s2:checked~.cards #slide7,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3,
#s6:checked~.cards #slide4,
#s7:checked~.cards #slide5 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
}

#s1:checked~.cards #slide7,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4,
#s6:checked~.cards #slide5,
#s7:checked~.cards #slide6 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);   
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5,
#s6:checked~.cards #slide6,
#s7:checked~.cards #slide7 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide6,
#s6:checked~.cards #slide7,
#s7:checked~.cards #slide1{
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide6,
#s5:checked~.cards #slide7,
#s6:checked~.cards #slide1,
#s7:checked~.cards #slide2{
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
}
#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide6,
#s4:checked~.cards #slide7,
#s5:checked~.cards #slide1,
#s6:checked~.cards #slide2,
#s7:checked~.cards #slide3{
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 35%);
    transform: translate3d(105%, 0, -300px);
}
/* -------------------------------------------------------------------------------- */

.social-media-links{
	background-color: #282a3c;
	color: #f8f9fa;
	border-radius: 100%;
	font-size: 40px;
}

.social-media-links:hover, .social-media-links:focus{
	background-color:#31e1f7 ;
	color:#f8f9fa;
	text-decoration: none;
}

/* --------------------------bootstrap-footer-css----------------------------- */
.footer{
	padding: 60px 0;
    width: 100%;
    background: #f8f9fa;
    color: #282a3c;
}
.footer-title{
	position: relative;
    color: #282a3c;
	font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #31e1f7;
}
.footer-title:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 30px;
	height: 4px;
	background: #ff55bb;
}
.footer-links a{
	padding: 10px 0;
	border-bottom: 1px solid #31e1f7;
	color: #282a3c;
	display: block;
	transition: color 0.5s ease-in-out;
   text-decoration:none;
}
.footer-links a:hover{
	color: #ff55bb;
}
.footer-social-links li{
	display: inline-block;
}
.footer-social-links a{
	width: 40px;
	height: 40px;
	font-size: 16px;
	float: left;
	margin-right: 10px;
	padding: 10px;
	border: 1px solid #404040;
	border-radius: 50px;
	text-align: center;
	color: #fff;
	line-height: 1;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
 	 background:#f8f9fa;
}
.footer-social-links a:hover{
	background: #ff55bb;
}
/* g. Footer bottom section */
.footer-bottom{
	width: 100%;
	padding: 25px 0;
	text-align: center;
	color: #282a3c;
	background: #f8f9fa;
}