.main-content{
	width: 75%;
	border-radius: 20px;
	box-shadow: 0 5px 5px #31e1f7;
	display: flex;
	margin: auto;
}
.company__info{
	background-color: #31e1f7;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #ff55bb;
}


@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > .col >h2{
	color:#31e1f7;
	padding-top:20px ;
}
.login_form{
	background-color: #fff;
	padding: 0px 30px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #ff55bb;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #ff55bb;
	box-shadow: 0 0 5px #ff55bb; 
	border-radius: 4px;
}
.form-group .btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#31e1f7;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #ff55bb;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.form-group .btn:hover, .btn:focus{
	background-color: #31e1f7;
	color:#fff;
}